{{! Each post will be output using this markup }}
  {{#foreach posts}}
      <div class="col-sm-12 col-md-6">
        <article id="article-{{id}}" class="{{post_class}}">
        {{#if image}}
          <style>
            @media screen and (min-width:767px){              
              #article-{{id}} > section:before {
                background: url({{image}});
              }         
            }
          </style>
        {{/if}}
          <header class="post-header">
            <h3 class="post-title">
              <a href="{{url}}">{{{title}}}</a>
            </h3>
            <span class="post-meta text-muted">
              <time datatime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
              {{#if tags}} <span>on</span>
              {{#foreach tags}}
                  <a href="{{url}}" title="{{description}}" class="tag-{{id}}" data-toggle="tooltip" data-placement="auto" data-del>{{name}}</a>
              {{/foreach}}
              {{/if}}
            </span>
          </header>
          <section class="post-excerpt" {{#if image}} data-has-image="true" {{/if}}>
            <p>
               {{#if image}}{{excerpt words="20"}}{{else}}{{excerpt words="60"}}{{/if}}
              &hellip;</p>
          </section>
        </article>
      </div>
  {{/foreach}}
