{{! Each post will be output using this markup }}
    <div class="row">
      {{#foreach posts}}
          <div class="col-xs-12 col-sm-6">
            <article class="{{post_class}}">
              <header class="post-header">
                <h2 class="post-title">
                  <a href="{{url}}">{{{title}}}</a>
                </h2>
                <span class="post-meta text-muted">
                  <time datatime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                  {{#if tags}} <span>on</span>
                  {{#foreach tags}}
                      <a href="{{url}}" title="{{description}}" class="tag-{{id}}" data-toggle="tooltip" data-placement="auto" data-del>{{name}}</a>
                  {{/foreach}}
                  {{/if}}
                </span>
              </header>
              <section class="post-excerpt">
                <p>{{excerpt words="30"}}&hellip;</p>
              </section>
            </article>
          </div>
      {{/foreach}}
        <div class="col-xs-4 col-sm-offset-4">
          {{!! After all the posts, we have the previous/next pagination links }}
          {{pagination}}          
        </div>
    </div>