{{#if @blog.navigation}}
<header>
    <nav class="navbar navbar-athena">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <a href="{{@blog.url}}/"><span class="fa fa-home"></span></a>
            </button>            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#athenaNavBar">
                <span class="fa fa-list"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="athenaNavBar">
            <ul class="nav navbar-nav">
            {{#foreach navigation}}
                <li class="nav-{{slug}}{{#if current}} active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/"><span class="fa fa-rss"></span> Subscribe</a></li>
            </ul>
        </div>
    </nav>
</header>
{{/if}} 